<script>
$(document).ready(function() {
    $('#new_employee').bootstrapValidator(); 
    $('#employee_country').change(function(){
         var id =  this.value;
         jQuery.get('/employees/find_state/' + id, function(data){
           if(data[0]!= null && data[0]!=""){
              $('#employee_state').find('option').remove().end()
              $('#employee_state').append($("<option></option>").attr("value","").text("Select State"));
              for (i=0; i <data[0].length; i++ ){
                 $('#employee_state').append($("<option></option>").attr("value",data[0][i].id).text(data[0][i].state_name));
              }
              
           }
       });
        
    });
  });
</script>
<%= bv_form_for(@employee, remote: true)  do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% @a = "check"%>
 <%= pri(@a)%>
  <div class="control-group">
    <%= f.text_field :employee_name, :class =>'input-medium' %>
  </div>
  <div class="control-group">
    <%= f.number_field :employee_id %>
  </div>
  <div class="control-group">
    <%= f.text_area :employee_address %>
  </div>
    <div class="control-group">
    <%#= f.label :country %>
    <%= f.collection_select(:country, @countries, :id, :country_name, {:prompt => true}, :class => "country")%>
  </div>
    
    <div class="control-group">
    <%#= f.label :country %>
    <%= f.select(:state, {:promopt => "select country first"})%>
    <%#= f.collection_select(:state, {:prompt => "select state"}, :class => 'country')%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


