<script>

  $(document).ready(function() { $('#new_employee').bootstrapValidator(); });
  
  
</script>

<%= bv_form_for(@employee, :html => {:class => 'form-horizontal'} )  do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="control-group">
    <%= f.text_field :employee_name, :class =>'input-medium' %>
  </div>
  <div class="control-group">
    <%= f.number_field :employee_id %>
  </div>
  <div class="control-group">
    <%= f.text_area :employee_address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
