
<h1>Listing orders</h1>
 <%= form_tag (orders_path), :method=> "get", :id => "products_search" do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %> 
      <%#= link_to_function "Clear", "$('search_field').clear()" %>
  <% end %> 
  
<div id="products">
  <%= render 'orders' %>
</div>

<br>
<h2>Import Order</h2>
<%= form_tag import_orders_path, multipart: true do %>
  <%= file_field_tag :file %></br>
  <%= submit_tag "Import" %>
<% end %>

<%= link_to 'New Order', new_order_path %>

<script>
$(function() {
$("#search").keyup(function() {
    $.get($("#products_search").attr("action"), $("#products_search").serialize(), null, "script");
    return false;
  });
});
</script>