<!DOCTYPE html>
<html ng-app="myapplication">
<head >
  <title>SampleApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag  'jquery-1.11.3', 'jquery_ujs','application', 'underscore-min' ,'data-turbolinks-track' => true %>
  5
  <%= csrf_meta_tags %>
  
 <ul  class="nav nav-tabs bck">
   <% if current_user %>
            <li role="presentation"><%= link_to 'Blog', new_blog_path %></li>
           <!-- <li role="presentation"><%= link_to 'User List', user_list_employees_path %></li>-->
            <li role="presentation"><%= link_to 'Edit Profile',edit_user_registration_path %></li>
            <li role="presentation"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            <%= image_tag(current_user.avatar.url(:thumb), :class=>'img-circle', height: '32', width: '32') %>
            <% else %>
            <li><%= link_to 'Login', new_user_session_path %></li>
            <% end %>
   
      
   </ul>
</head>
<body>
  <!--<div id="header"></div>-->
<div id="main-wrap">
    <div id="sidebar" class = "leftnav box">
     <%#= render  "layouts/subscribe"%>
</div>
    <div id="content-wrap" class="cont"><%= yield %></div>
</div>

     
    

</body>
</html>
